#adminsida {
    width: 100%;
    overflow: auto;
}

#news {
    float: left;
    margin-right: 5%;
}

.newslabel {
    width: 150px;
    float: left;
}

.newstextbox {
    width: 193px;
    margin: 0.2% 0 1% 0;
}

.newsbutton {
    width: 150px;
    margin: 0.3% 0;
}

.newsddl {
    width: 200px;
    margin-bottom: 0px;
    margin: 0.2% 0 1% 0;
}

#ContentPlaceHolder1_textNews {
    margin-bottom: 1%;
}

#seasons {
    width: 36%;
    margin-top: 0.5%;
    float: right;
}

#ContentPlaceHolder1_startCalendar {
    float: left;
    margin: 0 4% 0 0;
}

#seasonStart {
    margin-top: 2%;
}

#seasonEnd {
    margin: -5.2% 0% 0% 0%;
}

#ContentPlaceHolder1_btnAddSeason {
    margin-top: 1%;
    margin-right: 40%
}