body {
  background-color: #8F9D4E;
  background-image:url(/Images/golf-787477_960_720.jpg);
  background-repeat:no-repeat;
  background-size:1920px 1080px;
  margin:0 auto;
  min-height:100%;

  font-family: calibri, sans-serif;
  font-size: 17px;
  color: black;
}

#content{
    min-height:100%;
    /*background: -webkit-linear-gradient(top, rgba(255,0,0,0), rgba(101,178,89,1)); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom, rgba(255,0,0,0), rgba(101,178,89,1)); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(bottom, rgba(255,0,0,0), rgba(101,178,89,1)); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(101,178,89,1)); /* Standard syntax (must be last)*/
    background: -webkit-linear-gradient(top, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,255,255,255)); /* Standard syntax (must be last)*/
}

#form1 {
  width: 1170px;
  margin: 0 auto;
  min-height:100%;
}

#logo {
  margin-left: 23.5%;
  margin-bottom: -11.1%;
  width: 53%;
  height: auto;
  position: relative;
}

#masterNav {
  overflow: auto;
  margin: auto;
  margin-top: 7%;
  padding-bottom: 51px;
  background-color: rgba(46, 133, 64, 0.94);
}

#masterNavTop {
  padding: 0.5%;
  width: auto;
  background-color: white;
  overflow: auto;
}

#masterNavTop a {
  float: right;
  margin-right: 1%;
  text-decoration: none;
  color: black;
}

#masterNavBottom {
  margin: auto;
  width: 600px;
}

#masterNavMenu {
  position: absolute;
  margin: 0;
}

#masterNavBottom ul {
  list-style: none;
  padding: 0;
}

#masterNavBottom ul li {
  float: left;
  text-align: center;
}

#masterNavBottom ul li a {
  display: block;
  width: 150px;
  height: 6px;
  background-color: rgba(46, 133, 64, 0);
  padding: 15% 0%;
  text-decoration: none;
  color: white;
}

.subMenu li {
  background-color: rgba(46, 133, 64, 0.97);
}

#masterNavBottom ul li a:hover {
  background-color: rgba(80, 170, 100, 1);
}

#masterNavBottom ul li:hover ul {
  display: block;
}

.subMenu {
  display: none;
}

.subMenu li {
  clear: both;
}

#pageContent {
  background-color: white;
  margin: 1% 0 0% 0;
  padding: 1.5%;
  /*height:100%;*/
}

.ui-datepicker-trigger {
  width: 40px;
  height: auto;
  margin: 0 0 -5% 2%;
  cursor: pointer;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

footer {
  padding: 2% 0 2% 0;
  text-align: center;
  color: white;
  background-color: #16171A;
  bottom:0;
  width:1170px;
  clear: both;
  position: relative;
}


/*DROPDOWNS*/
select {
    border:2px solid #7d6754;
    border-radius:5px;
    padding:3px;
    -webkit-appearance: none; 
    background-image:url('Images/Arrowhead-Down-01.png');
    background-position:88px;
    background-repeat:no-repeat;
    text-indent: 0.01px;/*In Firefox*/
    text-overflow: '';/*In Firefox*/
    font-family: calibri, sans-serif;
    font-size: 14px;
}
select:hover{
     background-color: beige !important;
}

select option{
    color:brown !important;
    background-color: beige !important;
}


/*KNAPPAR*/
input[type="submit"] {
    background-color: #E8ECE6;
    border: 2px solid #4CAF50;    
    color: brown;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius:8px;
}

input[type="submit"]:hover{
    
    background-color: #4CAF50; /* Grön */
    color: white; 
    border: 2px solid #E8ECE6;
}



/*TEXTBOXAR = TEXT, LÖSENORD, NUMMER*/
input[type="number"]{
    background-color:#E8ECE6;
    font-family:Calibri,sans-serif;
    font-size: 17px;
    color: black;
    border-radius:4px;
}

input[type="text"], input[type=password]{
    background-color:#E8ECE6;
    font-family:Calibri,sans-serif;
    font-size: 17px;
    color: black;
}




@media only screen and (max-width: 1170px){
  #form1{
    width: auto;
  }	
}
