#navIndex a {
    background-color: rgba(80, 170, 100, 1) !important;
}

#news {
  padding: 0 15%;
}

#newsSort {
  text-align: right;
}

#newsSort div {
  padding: 0.7% 0;
}

.newsItem {
  margin-bottom: 40px;
}

.newsItem:hover h2 {
  color: brown;
  text-decoration:underline;
}

#showAmount {
  float: left;
}