#adminsida {
    width: 100%;
    height: auto;
}

.newslabel {
    width: 150px;
    float: left;
}

.newstextbox {
    width: 193px;
    margin: 0.2% 0 1% 0;
}

.newsbutton {
    width: 150px;
    margin: 0.3% 0;
}

.newsddl {
    width: 200px;
    margin-bottom: 0px;
    margin: 0.2% 0 1% 0;
}

#ContentPlaceHolder1_textNews {
    margin-bottom: 1%;
}