#navBokning a {
    background-color: #6c7 !important;
}

/*MEDLEM*/
#ContentPlaceHolder1_member{
  overflow: auto;
  padding-left:2%;
  margin-top:-10%;
  /*background-color:lightgreen;*/
  padding-bottom:3%;
}

#ContentPlaceHolder1_bookMember{
  width:15%;
  padding-top:5%;
}

#ContentPlaceHolder1_membersGames{
  width:40%;
  float:left;
  /*background-color:yellow;*/
}

#ContentPlaceHolder1_memberBookedBy{
  width:40%;
  margin-top:-3.5%;
  margin-left:5%;
    float:left;
    /*background-color:blue;*/
}




/*ADMIN*/
#ContentPlaceHolder1_lbAllMembers {

}

#ContentPlaceHolder1_bokningarAdmin{
    /*background-color:purple;*/
    margin-top:-22%;
    padding-bottom:12%;
    /*float:left;*/
}



/*BÅDA*/
#ContentPlaceHolder1_calenderDiv{
    padding-top:2%;
}

#ContentPlaceHolder1_bokningar{
   overflow: auto;
   height:540px;
   /*background-color:pink;*/
   padding-top:3%;
}


#ContentPlaceHolder1_bokningarInfo{
  display:block;
  height: 480px;
  width: 150px;
  padding-left:2%;
  float:right;
  margin-top:-32.3%;
  /*background-color:red;*/
  padding-top:0.5%;
}



#ContentPlaceHolder1_grvBokning {
  border: none;
  float: left;
  margin-right: 5%;
  margin-left: 25%;
  margin-top:-30.8%;
  display:block;
}

#ContentPlaceHolder1_grvBokning td{
  border: none;
  font-size: 80%;
}

#ContentPlaceHolder1_grvBokning th {
  border: none;
}

.lbCell {
  background-color: #6e8;
  display: block;
  width: 50px;
  height: 45px;
  text-decoration: none;
  color: black;
  padding: 4px;
}

.lbCell:hover {
  background-color: #8fa;
}

.lbCell_full {
  background-color: #f66;
  display: block;
  width: 50px;
  height: 45px;
  text-decoration: none;
  color: black;
  padding: 4px;
}

.lbCell_full:hover {
  background-color: #f88;
}





/*#navBokning a {
    background-color: #6c7 !important;
}

#bokningar {
  overflow: auto;
  padding: 1%;


}*/







/*
#bokningarInfo {
  float: left;
  margin-top: -1.6%;
}

#bokningar {
  margin-top: 2%;
  /*margin-left: 8%;*/
/*}

#bokningarAdmin {
  /*display: none;*/
/*}

#ContentPlaceHolder1_BtnBookMember,
#ContentPlaceHolder1_BtnDelMemberFromGame {
  margin-top: 5px;
  float: right;
}

#ContentPlaceHolder1_lbBookedMembers {
  width: 100%;
}*/

/*#lbAllMembers{
    position: absolute;
    right:0;
    top: 800px;
}*/
