#navAdmin a:nth-last-child(2) {
    background-color: rgba(80, 170, 100, 1) !important;
}

#adminsida {
    width: 100%;
    overflow: auto;
    padding-bottom:3%;
}

#newsdiv {
    float: left;
    margin-right: 5%;
}

.newslabel {
    width: 150px;
    float: left;
    margin: 0 0 2% 0;
}

.newstextbox {
    width: 193px;
    margin: 0.2% 0 1% 0;
}

.newsbutton {
    width: 150px;
    margin: 0.3% 0;
}

.newsddl {
    width: 200px;
    margin-bottom: 0px;
    margin: 0.2% 0 1% 0;
}

#ContentPlaceHolder1_textNews {
    margin-bottom: 1%;
}

#seasons {
    width: 35%;
    float: right;
}

#seasons div {
    margin: 1% 0 0 0;
}

#seasons input{
    width: 160px;
}

#calendars{
    overflow: auto;
    padding: 4% 0 0 0;
}

#seasonStart {
    display: block;
    width: 250px;
    height: 80px;
}

#seasonEnd {
    display: block;
    width: 250px;
    height: 80px;
}

#ContentPlaceHolder1_txtFrom,
#ContentPlaceHolder1_txtTo {
    width: 100px !important;
    margin: 0 0 2% 0;
}